.login-bg{
    position: absolute;
}
.login-card{
    position: relative;
    // padding: 0px 200px 0px 200px ;
    top: 170px;
    padding-left: 40px;
}
.card-bg{
    background-color: lavender;
}
.p-inputtext {
    width: 100% !important;
    padding: 7px 7px 7px 35px !important;
}
.p-button{
    border-radius: 20px !important;
    padding: 6px 20px 6px 20px  !important;
}