<nav #navbar class="navbar navbar-expand-lg sticky-top"
  [ngClass]="{ 'bg-white': open === true , 'navbar-transparent': open === false}">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-minimize toggle-mobile-view">
        <button id="minimizeSidebar" class="btn btn-icon btn-round" (click)="minimizeSidebar()">
          <i class="fa fa-align-right text-center visible-on-sidebar-mini"></i>
          <i class="fa fa-align-left text-center visible-on-sidebar-regular"></i>
        </button>
      </div>
      <div class="navbar-toggle" (click)="sidebarToggle()">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="back-btn" *ngIf="breadcrumbConfig?.length >= 2">
        <i class="fa fa-chevron-left mx-3 my-2" routerLink="{{breadcrumbConfig[breadcrumbConfig.length - 2].link}}"></i>
      </div>
      <div class="right">
        <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
       
      </div>
    
    </div>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" (click)="open = !open">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button> -->
  </div>
</nav>